{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12" id="index_buttons">
        <a href="/login" class="btn btn-primary" id="login_button">Login</a>
        <a href="/register" class="btn btn-primary" id="register_button">Register</a>
    </div>
</div>

<div class="row" id="faq">
    <div class="col-md-12">
        <h3>Frequently Asked Questions</h3>
        <hr>
        <ul>
            <li>
                <strong>What is this website?</strong>
                <p>This is The Jewel Box, A website selling exclusive Diamond Jewelry</p>
            </li>
            <li>
                <strong>How do I access the products?</strong>
                <p>First you must register by clicking on the "Register" button and providing your personal information.</p>
            </li>
            <li>
                <strong>I've registered but I dont see any products</strong>
                <p>You can login by clicking on the "Login" button and providing your credentials.</p>
            </li>
            <li>
                <strong>What products do you sell?</strong>
                <p>We sell exclusive Diamond Rings, Cuban Chains, and Diamond Earrings</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}